.page-main {
    width: 1000px;
    justify-content: center;
    margin: auto;
    background-color: green;
    color: white;

    h1 {
        padding: 15px;
        margin-bottom: -10px;
    }
    div {
        padding: 30px;
        background-color: black;

        textarea {
            font-size: 18px;
        }
    }
}