header {
    width: 1000px;
    justify-content: center;
    margin: auto;

    .header-box {
        display: flex;

        .header-left {
            display: flex;
            align-items: center;
            float: left;
            margin: 20px auto 20px 0;
            padding: 0;

            .header-logo {
                color: #000;
                font-size: 45px;
                font-weight: bold;
                letter-spacing: -1px;
                margin-left: 10px;
            }
        }

        .header-right {
            display: flex;
            align-items: center;
            float: right;
            margin: 20px 0 20px auto;

            .header-search-div {
                position: relative;

                .header-search {
                    width: 200px;
                    height: 25px;
                    margin-right: 15px;
                    padding-left: 10px;
                    background-color: #d9d9d9;
                    border-radius: 20px;
                    border: 1px solid #d5d5d5;
                }
            }

            .header-button-login {
                width: 70px;
                height: 30px;
                margin-right: 15px;
                border-radius: 20px;
                background-color: #000;
                border: 1px solid #fff;
                color: white;
            }

            .header-button-register {
                @extend .header-button-login;
                background-color: #fff;
                border: 1px solid #000;
                color: black;
            }
        }
    }

    .header-box {
        .header-left {
            .header-menu-list {
                display: flex;
                align-items: center;
                padding-left: 0;

                li {
                    list-style: none;
                    margin: auto 10px;
                    font-size: 20px;
                    color: #000;
                }
            }
        }

        .header-right {
            li {
                list-style: none;
                margin: auto 10px;
                font-size: 20px;
                color: #000;
            }
        }
    }
}